.course-table {
    margin-top: 0;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: var(--color-bg2); 
    color: var(--color-white);
}
.table tbody {
    background-color: var(--color-primary);
}


.table tbody tr:hover td {
    background-color: black;
}